body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.text-white {
  color: #ffffff;
}

.text-yellow {
  color: #ffff00;
}

.text-red {
  text-align: right;
  color: #ff0000;
}

header, main, footer {
  text-align: center;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #1e1e1e;
}

main {
  min-height: 60vh;
}

footer {
  background-color: #1e1e1e;
  text-align: center;
}
